
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }

body {
    height: 100vh;
    width: 100vw;
    margin: 0rem;
    background-color: #101010 ; 
    text-align: center; 
}

h1 {
    color: #cdc7c7;
    font-size: 55px;
    text-align:center
  }

  #carousel {
    display: flex;
    gap: 4vmin;
    position: absolute;
    left: 50%;
    top: 50%;

    padding-bottom: 1000;
    justify-content: center;
    align-items: center;
    height: 1000%;
}
#carousel > .carousel-images {
    width: 40vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: center;
}
