
/* General Webpage Stylings */
:root {
  --text-color: #e9e2e2;
  --link-color: #dba8d3;
  --background-color:#101010;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
    font-family: 'Rubik', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    overflow-x: hidden;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

/* NAVBAR */
nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  height: 80px;
}
  /* left component */
nav .left-row a {
  color: var(--text-color);
  border:none;
}

.left-row img {
  width: 75px;
  height: 25px;
}

.logo-image img {
  color: initial; 
}
  /* right component */
nav .right-row a {
  margin: 30px;
}


/* WELCOME */

.welcome .content .actions a {
  display: inline-block;
  padding: 5px 10px;
  border: 2px solid var(--link-color);
  border-radius: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
  transition: .1s;
}

.welcome .content .actions a:first-child {
  color: var(--background-color);
  background-color: var(--text-color);
  padding: 5px 15px;
  border-radius: 5px;
  margin-right: 25px;
}

.actions a span {
  margin-left: 5px;
}