@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap'); /* Google Font: Prata */

/* General Webpage Stylings */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: #101010 ; 
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0rem;
    text-align: center; 
}

h1 {
    color: #cdc7c7;
    font-size: 55px;
    text-align:center;
}

/* About Page Stylings */
.content {
    color: #cdc7c7;
    font-size: 35px;
    text-align: left;
    margin-left: 200px;
    padding-top: 8.5em;
    padding-bottom: 8.5em;
}

/* Projects Page Stylings */
  #carousel {
    display: flex;
    gap: 4vmin;
    position: absolute;
    left: 50%;
    top: 50%;

    padding-bottom: 1000;
    justify-content: center;
    align-items: center;
    height: 1000%;
}
#carousel > .carousel-images {
    width: 40vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: center;
}

/* Navigation BAR */
main{
    padding-top: 3.33em;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
  }

.navigation-bar {
    display: inline;
    text-align: right;
    margin-top: 50px;
}

.navigation-bar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navigation-bar li {
    display: inline-block;
        font-family:'Prata','Times New Roman', Times, serif;
        font-weight: 500;
        font-size: 16px;
}

.navigation-bar a {
    display: inline-block;
    padding: 10px 20px; /* Adjust padding as needed */
    text-decoration: none;
    background-color: #101010; /* Button background color */
    color: white; /* Button text color */
    border: 1px solid #cdc7c7;
    border-radius: 20px; /* Rounded borders */
    transition: background-color 0.3s ease; /* Smooth transition for background color */
}

.navigation-bar a:hover {
    background-color: #cdc7c7; /* Darker background color on hover */
    border: 2px solid #101010;
    color: #101010; 
}

.navlinks {
    padding: 0px 20px;
}

.navlinks li a {
    transition: color 0.3s ease 0s;
}

.logo {
    margin-right: auto;
    padding-top: 18px;
}

